# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.venv.bak/

# Logs
*.log

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python-specific
*.pyo
*.pyd
*.whl

# Environment variables
.env
